<br />
<br />
<div class="container">
    <h2 class="text-danger">Output section</h2>
    <!--<ul>
        <li ng-repeat="dog in dogs">{{ dog }}</li>
    </ul>-->

    <!--Price estimates table-->
    <h2 class="text-center">Price Estimates</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Estimated Time(min)</th>
                <th>Distance</th>
                <th>Price Estimate</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pr in prices">
                <td>
                    {{pr.display_name}}
                </td>
                <td>{{pr.duration / 60}}</td>
                <td>
                    {{pr.distance}}
                </td>
                <td>{{pr.estimate}}</td>
            </tr>
        </tbody>
    </table>

    <!--eta table-->
    <h2 class="text-center">Estimated time of arrival</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Estimated Time(min)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in times">
                <td>
                    {{t.display_name}}
                </td>
                <td>{{t.estimate / 60}}</td>
            </tr>
        </tbody>
    </table>


</div>
<br />
<br />