<br />
<br />
<div class="container">
    <h2 class="text-danger">Output section</h2>
    <!--<ul>
        <li ng-repeat="dog in dogs">{{ dog }}</li>
    </ul>-->


    <!--<table class="table table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in content.products">
                <td>
                    <img src={{c.image}} alt="No image">
                </td>
                <td>{{c.display_name}}</td>
                <td>
                    {{c.description}}
                </td>
                <td>{{c.capacity}}</td>
            </tr>
        </tbody>
    </table>-->


    <!--Price estimates table-->
    <h2 class="text-center">Price Estimates</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Estimated Time(min)</th>
                <th>Distance</th>
                <th>Price Estimate</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pr in prices">
                <td>
                    {{pr.display_name}}
                </td>
                <td>{{pr.duration / 60}}</td>
                <td>
                    {{pr.distance}}
                </td>
                <td>{{pr.estimate}}</td>
            </tr>
        </tbody>
    </table>

    <!--eta table-->
    <h2 class="text-center">Estimated time of arrival</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Estimated Time(min)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in times">
                <td>
                    {{t.display_name}}
                </td>
                <td>{{t.estimate / 60}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Promotions</h2>

    {{promos.display_text}}
    <br />
    {{promos.localized_value}}
    <br />
    {{promos.type}}


</div>
<br />
<br />