<div class="container" ng-controller="ServicesCtrl">
    <h1>Search and Go!!!</h1>

    <div class="container">
        <h2>Start your search here!</h2>
        <form role="form">
            <div class="form-group">
                <label for="text">Search term:</label>
                <input type="text" class="form-control" ng-model="searchterm" id="searchterm" placeholder="Enter searchterm">
            </div>
            <div class="form-group">
                <label for="text">Search location:</label>
                <input type="text" class="form-control" ng-model="searchlocation" id="searchlocation" placeholder="Enter search location">
            </div>
            <button type="submit" class="btn btn-default" ng-click="getresults()">Get results</button>
        </form>
    </div>

    <div id="viewchange">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Rating</th>
                    <th>Go here!</th>
                    <th>Add to Wishlist</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="b in businesses">
                    <td>
                        <img src={{b.image_url}} alt="No image">
                    </td>
                    <td>
                        <a href={{b.url}}>{{b.id}}</a>
                    </td>
                    <td>{{b.display_phone}}</td>
                    <td><b ng-repeat="add in b.location.display_address">{{add}}</b></td>
                    <td>
                        {{b.rating}}
                    </td>
                    <td><a ui-sref=".list" onclick="window.scrollTo(0, 3000)" class="btn btn-primary" ng-click="choose(b)">Go here</a></td>
                    <td><button class="btn btn-success" ng-click="Add(b)">Add</button></td>

                </tr>
            </tbody>
        </table>

    </div>

    <hr />

    <!--<table class="table">
        <thead>
            <tr>
                <th>Comment Name</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td>
                    <input class="form-control" ng-model="serviceClient.name" />
                </td>
                <td>
                    <button class="btn btn-success" ng-click="create()">Add</button>
                    <button class="btn btn-primary" ng-click="update()">Update</button>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="serviceClient in serviceClients">
                <td>
                    {{serviceClient.name}}
                </td>
                <td>
                    <button ng-click="remove(serviceClient._id)" class="btn btn-danger">Remove</button>
                    <button ng-click="select(serviceClient._id)" class="btn btn-warning">Select</button>
                </td>
            </tr>
        </tbody>
    </table>-->

    <!--<a ui-sref=".list" class="btn btn-primary">List</a>-->

    <div class="container">
        <div ui-view autoscroll></div>
        <br />
        <button type="button" onclick="window.scrollTo(0, -3000)" class="btn btn-primary btn-lg btn-block">BACK to TOP!</button>
    </div>
    
    <!--<a ui-sref=".paragraph" class="btn btn-danger">Go On Top</a>-->
    <br />
    <br />

</div>

<br /><br /><br />